.about{
   
    
 
    min-height: 80svh;
   padding: 3%;
   text-align: center;
    position: relative;

  border-bottom: var(--border-color) 1px solid;
   
}
.About__Title{
  color:var(--font-color-Title);
    font-size: var(--title-size);
    font-weight: 400;
    padding: 1%;
  
  

}

.container__grid{
   padding: 1%;

}
.Skill__Img{
display: flex;
justify-content: center;


gap: 20px;
flex-wrap: wrap;
}
.Skill__Img img{
    
   border-radius: 12px;
   width: 20%;
   
  
   
  
}
.About__main{
    font-size: var(--font-size-Mobile);
    display: block;
    text-align: left;
    padding: 2%;
    
}

@media (min-width:768px) {
    .about{
        min-height: 70svh;
        

    }
    .About__Title{
        font-size: var(--title-size-Desktop);
    }
    .About__Sub{
        font-size: var(--font-size-Desktop);
        font-weight: 500;
    }
    .container__grid{
       display: flex;
       
       padding:2%;
    }
    .Skill__Img{
        gap: 30px;
    }
    .Skill__Img img{
    
        
        width: 10%;
        
       
        
       
     }
    .crab{
    width: 90%;
  
 
}
.About__main{
padding: 1%;
font-size: var(--font-size-Desktop);
font-weight: 100;
}

}
