.Contact{
    display: block;
    margin: auto;
    min-height: 80svh;
  
    padding: 0;
   
   padding-top: 1%;
   text-align: center;
    position: relative;
}
.Contact__Title{
    
    font-size: var(--title-size-Desktop);
    font-weight: 300;
    color: var(--font-color-Secondary);
    
  
}
.Contact__form{
    padding: 2rem;
    
}
.Contact__form label{
    display: inline-block;
    width: 100%;
    font-size: var(--font-size-Mobile);
    text-align: left;
  padding: 2%  2%;
  padding-left: 0;


}

input{
    width: 100%;
    font-size: var(--font-size-Mobile);
    background: transparent;
    outline: none;
    border: none;
    
    color:#f1eeee;
    border-bottom: solid 1px #66FDF0;
   
}
textarea{
    width: 100%;
    
    background: transparent;
    font-size: var(--font-size-Mobile);
    color:#f1eeee;
    outline: none;
    border: none;
        border-bottom: 1px solid #f1eeee;
      
}
.Contact__Img  {
    display: flex;
    justify-content: center;
    align-items: start;
    
 
    gap: 20px;
    flex-wrap: wrap;
    }
  .Contact__Img a{
        display: inline;
        width: 20%;
    }
    .Contact__Img  img{
        
       border-radius: 12px;
       width: 50%;
       
      
       
      
    }
    .Contact h1{
        font-size: larger;
        padding-top: 1%;
        color: var(--font-color-Secondary);
    }

.Form-Submit{
    margin-top: 5%;
    
   
}
.farewell{
    color: var(--font-color-Secondary);
    font-size: var(--title-size-mobile);
    padding-top: 5%;
}
@media (min-width:768px) {

    .Contact__form label{
        display: inline-block;
        width: 100%;
        font-size: 24px;
        font-weight: 500;
        text-align: left;
      padding: 2%  2%;
      padding-left: 0;
    
    
    }
    input{
        font-size: var(--font-size-Desktop);
    }
    
    .Form-Submit{
        font-size: 20px;
    width: 20%
  
  
      
}
.farewell{
    
    font-size: var(--title-size-Desktop);
   padding-bottom: 10%;
}
}